.board {
	height: 80%;
	width: 50%;
	display: inline-block;
}
.card {
	height: 200px;
	width: 150px;
	border: 1px black solid;
	background-color: yellow;
	border-radius: 10px;
}
h1 {
	color: rgb(2, 132, 130);
}
h2 {
	color: #ffd700;
}
.name{
	color:#ff0000;
}
footer{
	text-align: center;
}